{% include "header.html" %}
<body>

      <!-- Page Contents -->
      <div class="pusher">
        <div class="ui vertical masthead center aligned segment" style="overflow:auto;">
          <div class="ui horizontal center image" style="margin-top: 80px;">
          <img src="/static/axis.jpg"><a href="/getkit">
          </div>
          <img class="ui fluid image" src="/static/merchant.png">

          <div class="ui small primary button" style="margin:20px">Works for me<i class="right arrow icon"></i></div></a>

      </div>

    </body>

    </html>
