{% include "header.html" %}
<body>

      <!-- Page Contents -->
      <div class="pusher">
        <div class="ui vertical masthead center aligned segment" style="overflow:auto;">
          <div class="ui horizontal center image" style="margin-top: 80px;">
          <img src="/static/axis.jpg"><a href="/confirmation">
          </div>
          <div class="ui special cards" style="margin-left:40px; margin-top:20px">
            <div class="ui card">
    <div class="content">
      <div class="header">Declaration Content</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Business Constitution Declaration</h4>
      <div class="ui small feed">
        <img class="ui fluid image" src="/static/d1.png">
      </div>
    </div>
    <div class="extra content">
      <button class="ui button">Agreed</button>
    </div>
  </div>
  <div class="ui card">
  <div class="content">
  <div class="header">Declaration Content</div>
  </div>
  <div class="content">
  <h4 class="ui sub header">Declaration of POS linked to FCRA</h4>
  <div class="ui small feed">
  <img class="ui fluid image" src="/static/d2.png">
  </div>
  </div>
  <div class="extra content">
  <button class="ui button">Agreed</button>
  </div>
  </div>
  <div class="ui card">
  <div class="content">
  <div class="header">Declaration Content</div>
  </div>
  <div class="content">
  <h4 class="ui sub header">Schedule Of charges</h4>
  <div class="ui small feed">
  <img class="ui fluid image" src="/static/d2.png">
  </div>
  </div>
  <div class="extra content">
  <button class="ui button">Agreed</button>
  </div>
  </div>
  <div class="ui card">
  <div class="content">
  <div class="header">Declaration Content</div>
  </div>
  <div class="content">
  <h4 class="ui sub header">Merchant Declaration</h4>
  <div class="ui small feed">
  <img class="ui fluid image" src="/static/d2.png">
  </div>
  </div>
  <div class="extra content">
  <button class="ui button">Agreed</button>
  </div>
  </div>
          </div>
          <div class="ui small primary button" style="margin-top:40px">Works for me<i class="right arrow icon"></i></div></a>

      </div>

    </body>

    </html>
