{% include "header.html" %}
<body>

<script>
function slidefunction1(){
$('#quest1')
  .transition('slide up');

}
</script>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui text container" id="quest1" style="margin-top: 120px;">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        Let's get started with the process for you to be able to use Axis Bank Payment Gateway.
      </h2>
      <h2><b>We promise to keep it short and simple..!</b></h2>
      <div class="ui huge primary button" onclick="slidefunction1()">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>

 
 

{% include "footer.html" %}

</div>

</body>

</html>
