{% include "header.html" %}
<body>

<script>
function slideDownfunction(i,j){
      $('#quest'+i).transition({
          animation:'fade down',
          duration:'0.5s',
          onComplete: function(){
        $       ('#quest'+j).transition({animation:'fade up',duration:'0.5s'});}
      });
    }
function slideUpfunction(i,j){
      $('#quest'+j).transition({
          animation:'fade down',
          duration:'0.5s',
          onComplete: function(){
        $       ('#quest'+i).transition({animation:'fade up',duration:'0.5s'});}
      });
    }

function isEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}

</script>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment" style="overflow:auto;">

    <div class="ui text container" id="quest1" style="margin-top: 120px;">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        Let's get started with the process for you to be able to use Axis Bank Payment Gateway.
      </h2>
      <h2><b>We promise to keep it short and simple..!</b></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(1,2)">Get Started <i class="right arrow icon"></i></div>
    </div>

<div class="ui text container" id="quest2" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
      1.&nbsp;&nbsp;What's Your Axis bank <b>Account number</b> ?
      </h2>

      <h2><div class="ui input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
</div></h2>
<h2 class="ui header">
      2.&nbsp;&nbsp;And your <b>customer id</b> ?
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg 5432">
</div></h2>
      <div class="ui huge primary button" onclick="slideUpfunction(1,2)"><i class="left arrow icon"></i>PREV</div>
      <div class="ui huge primary button" onclick="slideDownfunction(2,4)">NEXT<i class="right arrow icon"></i></div>
    </div>
 <div class="ui text container" id="quest4" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
      3.&nbsp;&nbsp;What's your <b>account name</b>  ?
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg Kapoor...">
</div></h2>
 <h2 class="ui header">
      4.&nbsp;&nbsp;On what name do you want to charge your customers ?
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg Kapoor pvt lmtd....">
</div></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(4,6)">DONE <i class="right arrow icon"></i></div>
    </div>

    <div class="ui text container" id="quest6" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
      5.&nbsp;&nbsp;What is your business <b>address</b> ?
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
</div></h2>
<br/>
  <h2 class="ui header">
      6.&nbsp;&nbsp;And what is your <b>pincode</b> ?
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
</div></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(6,8)">DONE <i class="right arrow icon"></i></div>
    </div>

    <div class="ui text container" id="quest8" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
      7.&nbsp;&nbsp; Your mobile number
      </h2>
      <h2>
      <div class="ui left icon input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
   <i class="phone square icon"></i>
</div>
</h2>
 <h2 class="ui header">
      8.&nbsp;&nbsp; Your email address
      </h2>
      <h2><div class="ui input">
  <input type="text" id="email" placeholder="Eg 54321XXXXXXX...">
</div></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(8,9);isEmail(document.getElementById('email').value)">DONE <i class="right arrow icon"></i></div>
    </div>

 <div class="ui text container" id="quest9" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>

      <div class="ui huge primary button" onclick="slideDownfunction(9,10)">DONE <i class="right arrow icon"></i></div>
    </div>

    <div class="ui text container" id="quest10" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        Payment website address
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
</div></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(10,11)">DONE <i class="right arrow icon"></i></div>
    </div>

 <div class="ui text container" id="quest11" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        Return url
      </h2>
      <h2><div class="ui input">
  <input type="text" placeholder="Eg 54321XXXXXXX...">
</div></h2>
      <div class="ui huge primary button" onclick="slideDownfunction(11,12)">DONE <i class="right arrow icon"></i></div>
    </div>

     <div class="ui text container" id="quest12" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        is this your personal account
      </h2>
      <h2><button class="ui labeled icon button " onclick="slideDownfunction(12,13)">
  <i class="pause icon"></i>
  yes
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(12,13)">
  <i class="right arrow icon"></i>
  no
</button></h2>
    </div>

     <div class="ui text container" id="quest13" style="margin-top: 120px; display:none">
    <div class="ui small image">
    <img src="/static/axis.jpg">
    </div>
      <h2 class="ui header">
        What type of a business are you
      </h2>
      <h2><button class="ui labeled icon button" onclick="slideDownfunction(13,14)">
  <i class="pause icon"></i>
  Public company
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(13,14)">
  <i class="right arrow icon"></i>
  Private Company
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(13,14)">
  <i class="right arrow icon"></i>
  Government/Govt subsidised
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(13,14)">
  <i class="right arrow icon"></i>
  Individual Merchant
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(13,14)">
  <i class="right arrow icon"></i>
  Business Partners
</button></h2>
    </div>
    </div>

{% include "footer.html" %}

</div>

</body>

</html>
