{% include "header.html" %}
<body>

<script>
  function slideDownfunction(i,j){
    $('#quest'+i).transition({
      animation:'fade down',
      duration:'0.5s',
      onComplete: function(){
        $       ('#quest'+j).transition({animation:'fade up',duration:'0.5s'});}
      });
    }
    function slideUpfunction(i,j){
      $('#quest'+j).transition({
        animation:'fade down',
        duration:'0.5s',
        onComplete: function(){
          $       ('#quest'+i).transition({animation:'fade up',duration:'0.5s'});}
        });
      }
function adddetails(){
   var r= $('<div class="ui huge primary button" onclick="goder();">Declarations to be filled<i class="right arrow icon"></i></div>');
   $('#quest2').append(r);
}
function goder(){
  window.location = "declarations";
}
</script>

      <!-- Page Contents -->
      <div class="pusher">
        <div class="ui vertical masthead center aligned segment" style="overflow:auto;">

          <div class="ui text container" id="quest1" style="margin-top: 120px;">
            <div class="ui image">
              <img src="/static/axis.jpg">
            </div>
            <h2 class="ui header">
              Now some questions about the channels you want to provide your customers. Select ones that apply.
            </h2>
            <div class="ui huge primary button" onclick="slideDownfunction(1,2)">Got it<i class="right arrow icon"></i></div>
          </div>
          <div class="ui text container" id="quest2" style="margin-top: 120px; display:none;">
            <div class="ui small image">
              <img src="/static/axis.jpg">
            </div>
            <h2 class="ui header">
              My customers will pay using below payment options
            </h2>
            <h2>
<button class="ui right labeled icon button" onclick="slideDownfunction(2,3)">
  <i class="wifi icon"></i>
  E-payment
</button>
<button class="ui right labeled icon button" onclick="slideDownfunction(2,3)">
  <i class="visa icon"></i>
  Internet Banking
</button>
            </h2>
          </div>

          <div class="ui text container" id="quest3" style="margin-top: 120px; display:none;">
            <div class="ui image">
              <img src="/static/axis.jpg">
            </div>
             <h2 class="ui header">
      When do u want to <b><span style="color: #B2497D">Start Testing </span></b>?
      </h2>
      
 <div class="ui left icon small input">
  <input type="text" placeholder="Choose a start date">
   <i class="calendar icon"></i>
</div>
             <h2 class="ui header">
      When do u want to <b><span style="color: #B2497D">Go Live </span></b>?
      </h2>
      
 <div class="ui left icon small input">
  <input type="text" placeholder="Choose a start date">
   <i class="calendar icon"></i>
</div>

 <h2 class="ui header">
      How many <b><span style="color: #B2497D">transactions</span></b> are you expecting per month ?
      </h2>
      <div class="ui small input">
  <input type="text" placeholder="Eg 100 ">
</div>
<br/>
<br/>
            <div class="ui huge primary button" onclick="slideDownfunction(3,2);adddetails();">We Are Done Here<i class="right arrow icon"></i></div>
          </div>

        </div>
      </div>

    </body>

    </html>
