{% include "header.html" %}
<body>

<script>
  function slideDownfunction(i,j){
    $('#quest'+i).transition({
      animation:'fade down',
      duration:'0.5s',
      onComplete: function(){
        $       ('#quest'+j).transition({animation:'fade up',duration:'0.5s'});}
      });
    }
    function slideUpfunction(i,j){
      $('#quest'+j).transition({
        animation:'fade down',
        duration:'0.5s',
        onComplete: function(){
          $       ('#quest'+i).transition({animation:'fade up',duration:'0.5s'});}
        });
      }
</script>

      <!-- Page Contents -->
      <div class="pusher">
        <div class="ui vertical masthead center aligned segment" style="overflow:auto;">

          <div class="ui text container" id="quest1" style="margin-top: 120px;">
            <div class="ui image">
              <img src="/static/axis.jpg">
            </div>
            <h2 class="ui header">
              Now some questions about the channels you want to provide your customers. Select ones that apply.
            </h2>
            <div class="ui huge primary button" onclick="slideDownfunction(1,2)">Got it<i class="right arrow icon"></i></div>
          </div>
          <div class="ui text container" id="quest2" style="margin-top: 120px; display:none">
            <div class="ui small image">
              <img src="/static/axis.jpg">
            </div>
            <h2 class="ui header">
              My customers will pay using below payment options
            </h2>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>E-Payment</label>
              <input type="checkbox" name="public">
              <label>Internet Banking</label>
              <input type="checkbox" name="public">
              <label>MPOS</label>
            </div>
            <h2><button class="ui labeled icon button" onclick="slideDownfunction(2,3)">
              <i class="pause icon"></i>
              E-Payment
            </button>
            <button class="ui right labeled icon button" onclick="slideDownfunction(2,3)">
              <i class="right arrow icon"></i>
              Internet banking
            </button>
            <button class="ui right labeled icon button" onclick="slideDownfunction(2,3)">
              <i class="right arrow icon"></i>
              MPOS
            </button></h2>
          </div>
        </div>
      </div>

    </body>

    </html>
